.cta-banner {
    padding: 5rem 0;
    text-align: center;
    color: var(--secondary-color);
    background-color: var(--text-dark);
}

.cta-content h2 {
    margin-bottom: 1.5rem;
    color: var(--secondary-color);
}

.cta-content p {
    max-width: 500px;
    margin-bottom: 2rem;
    margin-inline: auto;
    color: var(--text-secondary);
}