.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
}

.slider-content {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent, var(--primary-color) 20px, var(--primary-color) calc(100% - 20px), transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, black 20px, black calc(100% - 20px), transparent);
}

.btns-container {
    display: flex;
    gap: 50%;
}

.nav-btn {
    color: var(--secondary-color);
    background: var(--text-secondary);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    flex-shrink: 0;
}

.nav-btn:hover {
    transform: scale(1.1);
    background-color: var(--primary-color);
}

.nav-btn svg {
    width: 70%;
    height: auto;
}

.card {
    min-width: 250px;
    max-width: 250px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.2rem;
    border-radius: 12px;
    transition: all 0.3s ease;
    color: var(--text-secondary);
    background-color: var(--primary-color);
    user-select: none;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* ... Keep existing Card Internal Styles below ... */
.card-header {
    display: flex;
    justify-content: space-between;
}

.card-img {
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 100px;
}

.card-header-profile {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.card-client {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.client-locality {
    font-size: 0.7rem;
    color: var(--text-secondary);
}

.card-rating {
    color: #dfba49;
    font-size: 0.85rem;
    font-weight: bold;
    padding: .2rem 0 0 0;
}

.card-description {
    font-size: 1.1rem;
    color: var(--secondary-color);
}

.card-tag span {
    float: right;
    padding: .3rem .6rem;
    font-size: 0.8rem;
    border-radius: 5px;
    line-height: 1;
    color: var(--secondary-color);
    background-color: var(--bg-dark);
}