.site-footer {
    background-color: var(--text-dark);
    color: var(--secondary-color);
    padding-top: 200px;
    padding-bottom: 3rem;
    position: relative;
    z-index: 1;
}

.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.8rem;
    justify-content: space-between;
}

.footer-links a {
    color: var(--bg-secondary);
    font-size: 0.8rem;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: var(--primary-color);
}

.copyright {
    color: var(--text-light);
    font-size: 0.8rem;
}